
.dcard {
    margin: 6px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(28, 28, 28);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.dcardtitle {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: larger;
}

.dcardcontent {
    position: absolute;
    top: 45px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    line-height: 2;
    font-size: 0.95em;
}

.dinfoline {
    display: block;
    border-bottom: 1px solid rgb(58, 58, 58);
}

.dcpuname {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.7em;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dcpuflex {
    display: flex;
    height: 55%;
}

.dgreenindicator {
    color: rgb(92, 255, 42);
    vertical-align: middle;
    font-size: 1.6em;
    line-height: 1;
}

.dredindicator {
    color: rgb(255, 83, 40);
    vertical-align: middle;
    font-size: 1.6em;
    line-height: 1;
}

.dorangeindicator {
    color: rgb(255, 159, 34);
    vertical-align: middle;
    font-size: 1.6em;
    line-height: 1;
}

.dindicatorright {
    float: right;
}